<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher Page</title>
</head>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f7f7fb;
    margin: 0;
    padding-bottom: 160px;
    box-sizing: border-box;
    position: relative;
  }
  hr{
    border: 2px solid #ddd;
  }

  h1 {
    font-size: 40px;
    margin-left: 25px;
  }

  h2 {
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
  }

  .dropdown-container {
    display: flex;
    flex-direction: row;
  }

  .dropdown {
    position: relative;
    margin-left: 25px;
    margin-bottom: 35px;
  }

  .dropdown button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    padding: 6px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display:block;
    text-decoration: none;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  h3 {
    margin-left: 25px;
  }
</style>

<body>
  <br><br>
  <% if (teacher) { %>
    <h3>Teacher Details:<br><br>
        <h1><%= teacher.teacher_fullName %></h1><br>
        <h2><%= teacher.teacher_email %></h2><br>
        <h2><%= teacher.teacher_dept %></h2><br>
        <!-- Add other fields as needed -->
    </h3>
    <% if (teacher.teacher_classes && teacher.teacher_classes.length > 0) { %>
        <h2>Teacher Classes:</h2>
        <% teacher.teacher_classes.forEach(function (classItem) { %>
            <div class="dropdown-container">
                <div class="dropdown">
                    <button><%= classItem.class_name %></button>
                    <div class="dropdown-content">
                        <a href="/attendance/<%= classItem.class_name %>/<%= teacher.teacher_fullName %>">Attendance</a>
                        <a>Course: <%= classItem.course_name %></a>
                        <a>Course Code: <%= classItem.course_code %></a>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } %>
<% } else { %>
    <p>Teacher not found.</p>
<% } %>

</body>

</html>